# local files
data
logs
external
.env
.ipynb_checkpoints/
src/MaBossSpatial

# ???
.DS_Store

# Python/Packaging artifacts
*.egg-info/
*.egg
dist/
build/
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
env/